.entry-content {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

header {
  visibility: hidden !Important;
  height: 0px !important;
  padding: 0px !important;
}

.sidebar {
}

.entry-title {
   visibility: hidden !Important;
}

.container-fluid {
  margin-left: 2% !important;
  margin-right: 2% !important;
}

.jumbotron {
  margin-top: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
}

img {
  max-width: 100%;
}

table {
  max-width: 95% !important;
}
