.radial-gradient {
  background: -webkit-radial-gradient(#fff, #fff, #fff, #eee, #eee, #eee, #ddd, #ddd); /* Safari 5.1- 6.0 */
  background: -o-radial-gradient(#fff, #fff, #fff, #eee, #eee, #eee, #ddd, #ddd); /* Opera 11.6-12.0 */
  background: -moz-radial-gradient(#fff, #fff, #fff, #eee, #eee, #eee, #ddd, #ddd); /* Firefox 3.6-15 */
  background: radial-gradient(#fff, #fff, #fff, #eee, #eee, #eee, #ddd, #ddd); /* Standard syntax */
}


img {
  width: 50%;
 }

.row {
  height: 100vh;
}

.row.center {
   display: flex;
   align-items: center;
}
